* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.px-20 {
  padding: 0 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-items-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input[type=submit] {
  border: 1px solid #477AA9;
  border-radius: 10px;
  background-color: #4F81BD;
  padding: 10px 35px;
  color: white;
  cursor: pointer;
}

.center {
  background-color: rgb(221, 221, 221);
  min-height: 100vh;
}
.center .container {
  min-width: 600px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.center .container input[type=radio] {
  transform: translateY(2px);
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
